*{
  margin: 0;
}
header{
  display: flex;
  flex-direction: column;
}
nav {
background-color:rgb(139, 6, 6);
color: #fff;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
}
nav li {
display: inline-block;
margin-right: 20px;
position: relative;
align-items: center;

}
nav a {
color: #fff;
text-decoration: none;
display: block;
padding: 10px;
}
nav ul li a:hover{
  background-color: green;
}
.sub-menu {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #333;
padding: 10px;
border: 1px solid #333;
}
.sub-menu.open {
display: block;
}
.sub-menu li {
display: block;
margin-right: 0;
}
.sub-menu a {
color: #fff;
text-decoration: none;
}
.sub-menu a:hover {
color: blue;
}
.menu-icon {
cursor: pointer;
display: none;
}
#nav-menu {
display: block;

}
@media (max-width: 768px) {
.menu-icon {
display: block;
margin-right: 10px;
margin: 5px;
}
#nav-menu {
display: none;
}
#nav-menu.open {
display: block;
}
nav li {
display: flex;
flex-direction: column;
padding-top: 10px;
position: relative;
}
.sub-menu {
  width: 100%;
position: relative;
align-content: center;
top: 0;
left: 1.5%;
background-color: green;
padding: 0;
border: none;
}
.sub-menu li a:hover{
  background-color: red;
  color: white;
}
}

aside{
  width: 25%;
  background-color: grey;
  height: 500px;
}
.donatediv{
display: flex;
align-items: center;
justify-content: center;
width: 100% ;
height: 75px;
}
.donatebut{
  width: 50%;
  height: 60%;
  background-color: red;
  margin-top: 10%;
  
}